<form action="/lists" method="post">
<dl>
	<dt>
		<label for="list_name">Enter the details of your flight below:</label>
	</dt>
		<p>
			<input name="airline_name" placeholder="Airline Name" type="text" value="">
		</p>
		
		<p>
		<input name="flight_number" placeholder="Flight Number" type="text" value="">
		</p>
		
		<p>
		<input name="destination" placeholder="Destination Name" type="text" value="">
		</p>
		
		<p>
		<input name="departure_time" placeholder="Departure Time" type="text" value="">
		</p>
</dl>

<div class="actions">
	<input type="submit" value="Save">
	<a href="/lists">Cancel</a>
<div class="actions">
</form>
